header{
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    font-style: italic;
    background-color: #320A59;
 color: white; 
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 padding: 5px;  
   


}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

 
    
    
}
.navigation :hover{
    color:#58B5FC;
    text-decoration: underline;
}

 .navigation li{
    margin:15px 15px;

    
    
    

 }
 .nav-link{
    color: white;
    text-decoration: none;
    
 }
 h1{
    text-align: center;
 }
 figure img {
     width: 300px;
     height: 200px;
     /* Forzará una altura exacta */
     object-fit: cover;
     /* Recorta para que se vea bien */ 
     
}
 .temples{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.principal{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
        gap: 25px;
    justify-content: center;
}
  

footer {
    font-family: "Tuffy", sans-serif;
    font-weight: 700;
    font-style: italic;
    background-color: #320A59;
    color: white;
    text-align: center;
    padding: 5px;

}
main {
    max-width: 1500px;
    margin: 1 auto; }

        